.navbar {
  width: 100%;
  height: auto;
  background-color: white;
  max-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  max-height: 90px
}
