<div class="options">
  <app-input
    placeholder="Search"
    (keyUp)="search($event)"
  ></app-input>

  <button
    class="btn-primary"
    (click)="addNewProduct()"
  >
    Agregar
  </button>
</div>

<div class="list-container">
  <div class="datatable-container">
    <table>
      <tr>
        <th *ngFor="let column of columns">
          {{column.name}}
        </th>
      </tr>
      <tr *ngFor="let item of datasource">
        <td>
          <img class="product-logo" [src]="item.logo" alt="" srcset="">
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.description}}
        </td>
        <td>
          {{item.date_release | date: 'dd/MM/yyyy'}}
        </td>
        <td>
          {{item.date_revision | date: 'dd/MM/yyyy'}}
        </td>
        <td>
          <app-dropdown-menu
            [product]="item"
            (editProduct)="editProduct($event)"
            (deleteProduct)="onDeleteProduct($event)"
          >
          </app-dropdown-menu>
        </td>
      </tr>
    </table>
    <div *ngIf="datasource.length === 0" class="empty-data">
      No data
    </div>

    <div class="paginator">
      <div>
        {{data.length}} Resultados
      </div>
      <div class="navigator">
        <button (click)="prevPage()">Anterior</button>
        Pagina {{currentPage}} de {{numPages}}
        <button (click)="nextPage()">Siguiente</button>
      </div>
      <select name="pageSize" id="pageSize" [(ngModel)]="pageSize" (change)="changePageSize()">
        <option *ngFor="let pageSize of pageSizeOptions" [value]="pageSize">{{pageSize}}</option>
      </select>
    </div>
  </div>
  <div>

  </div>
</div>


